APHRODITE_ENV=development
APHRODITE_DB_PATH=data/aphrodite.db
APHRODITE_MEDIA_ROOT=media
APHRODITE_MAX_UPLOAD_BYTES=15000000
APHRODITE_HOST=127.0.0.1
APHRODITE_PORT=8020
APHRODITE_RELOAD=true
APHRODITE_WORKER_API_URL=http://127.0.0.1:8020
APHRODITE_WORKER_ID=local-renderer-1
APHRODITE_WORKER_BACKEND=local_stub
APHRODITE_WORKER_MEDIA_ROOT=media
APHRODITE_WORKER_POLL_SECONDS=5
APHRODITE_WORKER_CLAIM_TTL_SECONDS=300
APHRODITE_WORKER_ONCE=false
